<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" class="formulario">
        <label for="usuario">User: </label>
        <input type="text" id="usuario" name="usuario">
        <label for="contrasena">Password: </label>
        <input type="password" id="contrasena" name="contrasena">
        <br>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>