<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/main/main.component.css">
    <title>ProCalculator</title>
</head>
<body>
    <h1>Operations</h1><br>
    <div class="botones">
            <button routerLink="/1a">
                Mean & Standar Desviation
            </button>
            <br>
            <button routerLink="/Regression">
                Linear regression & correlation
            </button>
            <br>
            <button routerLink="/Simpson">
                Simpson's Rule & T-Distribution
            </button>
    </div>
</body>
</html>