<head>
    <title>ProCalculator</title>
</head>
<body>
    <h1>Linear regression & Correlation</h1><br>
    <div class="botones">
            <button routerLink="#">
                Test 1
            </button>
            <br>
            <button routerLink="#">
                Test 2
            </button>
            <br>
            <button routerLink="#">
                Test 3
            </button>
            <br>
            <button routerLink="#">
                Test 4
            </button>
    </div>
</body>