<head>
    <title>ProCalculator</title>
</head>
<body>
    <h1>Linear regression & Correlation</h1><br>
    <div class="test1">
        <h3>Test1</h3>
        <div class="seleccionData">
            <h4>B1</h4>
            <textarea name="media" id="media" cols="20" rows="2">
                0
            </textarea>
        </div>    
        <div class="seleccionData">
            <h4>B0</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r^2</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>Yk</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
            <br>
            <button routerLink="#">
                Test 1
            </button>
    </div>
    <div class="test2">
        <h3>Test2</h3>
        <div class="seleccionData">
            <h4>B1</h4>
            <textarea name="media" id="media" cols="20" rows="2">
                0
            </textarea>
        </div>    
        <div class="seleccionData">
            <h4>B0</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r^2</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>Yk</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
            <br>
            <button routerLink="#">
                Test 2
            </button>
    </div>
    <div class="test3">
        <h3>Test3</h3>
        <div class="seleccionData">
            <h4>B1</h4>
            <textarea name="media" id="media" cols="20" rows="2">
                0
            </textarea>
        </div>    
        <div class="seleccionData">
            <h4>B0</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r^2</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>Yk</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
            <br>
            <button routerLink="#">
                Test 3
            </button>
    </div>
    <div class="test4">
        <h3>Test4</h3>
        <div class="seleccionData">
            <h4>B1</h4>
            <textarea name="media" id="media" cols="20" rows="2">
                0
            </textarea>
        </div>    
        <div class="seleccionData">
            <h4>B0</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>r^2</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
        <div class="seleccionData">
            <h4>Yk</h4>
            <textarea name="std" id="std" cols="20" rows="2">
                0
            </textarea>
        </div>
            <br>
            <button routerLink="#">
                Test 4
            </button>
    </div>
</body>