/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

*{
    font-family: sans-serif;
}

.seleccionData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9a56bf;
    border-radius: 8px;
    border: none;
    color: white;
    height: 2rem;
    width: 6.3rem;
}
